/* Initializing */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1a1c1d;
    text-align: left;
}

/* Navbar */

nav {
    position: relative;
    width: 100%;
    height: auto;
    background-color: darkolivegreen;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    color: #fff;
}

.navbar {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
    z-index: 1;
}
  
.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.navbar .navbar-toggler {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {  
    border: none;
    outline: none;
    color: #fff;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}
  
.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* Components */

hr {
    margin: 20px 6px 20px 6px;
    border-style: solid;
    border-width: 0.5px;
    border-color: darkgray;
}

.btn {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aqua;
    padding: 12px;
    border: none;
    color: #1a1c1d;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
}

/* Layout */

.container {
    position: relative;
    margin: auto;
    width: 1024px;
    background-color: blue;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col, .col-1 {
    flex: 0 0 8.33333333333%;
}

.col-2 {
    flex: 0 0 16.6666666667%;
}

.col-3 {
    flex: 0 0 25%;
}

.col-4 {
    flex: 0 0 33.3333333333%;
}

.col-5 {
    flex: 0 0 41.6666666667%;
}

.col-6 {
    flex: 0 0 50%;
}

.col-7 {
    flex: 0 0 58.3333333333%;
}

.col-8 {
    flex: 0 0 66.6666666667%;
}

.col-9 {
    flex: 0 0 75%;
}

.col-10 {
    flex: 0 0 83.3333333333%;
}

.col-11 {
    flex: 0 0 91.6666666667%;
}

.col-12 {
    flex: 0 0 100%;
}

/* Positions */

.full-centralized {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Colors */

.color-blue {
    background-color: blueviolet;
}

/* Responsive */
/* For desktops: */
@media only screen and (max-width: 1024px) {
    .container {
        width: 768px;
    }
}

/* For tablets: */
@media only screen and (max-width: 768px) {
    .container {
        width: 576px;
    }
    [class*="col"] {
        flex: 0 0 50%;
    }
}

/* For phones: */
@media only screen and (max-width: 576px) {
    .container {
        width: 96%;
    }
    [class*="col"] {
        flex: 0 0 25%;
    }
    /* Navbar */
    .navbar li a, .dropdown .dropbtn {
        display: none;
    }
    .navbar li a.navbar-toggler {
        float: right;
        display: block;
    }
    .navbar li a.remain-nav-item {
        display: block;
    }
    .navbar.nav-responsive {
        position: relative;
    }
    .navbar.nav-responsive .navbar-toggler {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.nav-responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.nav-responsive .dropdown {float: none;}
    .navbar.nav-responsive .dropdown-content {position: relative;}
    .navbar.nav-responsive .dropdown .dropbtn {
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
    }
}